# OS FILES
.DS_Store
Thumbs.db
desktop.ini


# EDITORS / IDEs
.idea/
.vscode/
*.iml


# ANDROID / GRADLE
**/build/
**/.gradle/
android-app/local.properties
android-app/captures/
android-app/.externalNativeBuild/
android-app/.cxx/

# APK / AAB OUTPUTS
*.apk
*.aab
*.ap_

# ANDROID SIGNING FILES
*.jks
*.keystore
*.pem
*.p12


# PYTHON
__pycache__/
*.py[cod]
*.pyo
*.pyd

# CACHES
.pytest_cache/
.mypy_cache/
.ruff_cache/

# COVERAGE
.coverage
.coverage.*
htmlcov/

# VIRTUAL ENVIRONMENTS
.venv/
venv/
env/
ENV/

# PACKAGING
dist/
build/
*.egg-info/
.eggs/
pip-wheel-metadata/

# JUPYTER
.ipynb_checkpoints/


# ML ARTIFACTS (CRITICAL)

# Trained models
ml-pipeline/models/keras/*.h5
ml-pipeline/models/keras/*.keras
ml-pipeline/models/tflite/*.tflite

# Training checkpoints/logs
ml-pipeline/models/checkpoints/
ml-pipeline/models/**/checkpoint*
ml-pipeline/models/**/events.out.tfevents*

# Processed datasets
ml-pipeline/data/processed/

*.csv
*.pkl
ml-pipeline/data/

# Numpy arrays (large training data)
*.npy


# LOGS
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*